.img-contest-1 {
    max-width: 80%;
}

.formbold-form-input-custom {
    padding: 0;
    margin-bottom: 0;
}

/* input::placeholder {
    color: blue;
} */

.sign-up-note {
    font-size: 13px;
}

.badge-date-custom {
    font-size: 14px;
    /* background-color: #f17941 !important; */
    background: linear-gradient(90deg, #c34ce4, #f17941, #3b9fd1);
}

/* .mixes-color-1 {
    background: linear-gradient(90deg, #c34ce4, #f17941, #3b9fd1) !important;
} */

.form-check-tnc {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .form-check-label-sm {
    font-size: 12px;
  }
}

.add-multi-color {
  background: linear-gradient(90deg, #fa7003, #30358c) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.add-multi-color:hover {
  font-size: 22px !important;
}

.stars-elem {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -2px;
  }
  @media screen and (max-width: 991px) {
    .stars-elem {
      top: 3px;
    }
  }
  svg.star-icon.f {
    transform-origin: bottom center;
    animation: 1.4s ease-in-out both infinite star-show;
  }
  .star-icon.f {
    left: 2px;
    top: 5px;
    width: 11px;
    height: 11px;
  }
  svg.star-icon.s {
    transform-origin: left center;
    animation: 1.4s ease-in-out .2s both infinite star-show;
  }
  .star-icon.s {
    top: 2px;
    right: 3px;
    width: 4px;
    height: 4px;
  }
  svg.star-icon.th {
    animation: 1.4s ease-in-out .3s both infinite star-show;
  }
  .star-icon.th {
    right: 1px;
    bottom: 1px;
    width: 7px;
    height: 8px;
  }
  .star-icon.line {
    fill: #ffc658;
  }
  @keyframes star-show {
    0%, 100% {
      opacity: 0;
      transform: scale(1.25);
    }
  
    25% {
      opacity: 1;
    }
  
    50% {
      opacity: 1;
      transform: scale(1);
    }
  
    75% {
      opacity: 0;
    }
  }


  /* Redeem Form */

  .card-redeem{
    background-color: #000000;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 1); */
    /* box-shadow:
                  0 0 10px 5px rgba(0, 0, 0, 0.7),
                  0 0 20px 10px rgba(0, 0, 0, 0.7),
                  0 0 30px 15px rgba(0, 0, 0, 0.7); */
    overflow: hidden;
  }

  .card-register{
    background-color: #ffffff;
    /* box-shadow:
                  0 0 10px 5px rgba(0, 0, 0, 0.7),
                  0 0 20px 10px rgba(0, 0, 0, 0.7),
                  0 0 30px 15px rgba(0, 0, 0, 0.7); */
    overflow: hidden;
  }


  
  .text-white{
    color: #ffffff!important;
  }

  .text-blue{
    color: #3b9fd1!important;
  }

  .p-10{
    padding: 20px;
  }

  .pl-20{
    padding-left: 20px;
  }

  .pl-50{
    padding-left: 50px;
  }
  
  .article-content p{
    margin-bottom: 1em; /* Space between paragraphs */
      text-align: justify; /* Justify text in paragraphs */
      color: #1b1b1b;
      font-family: 'Exo', sans-serif;
  }
  
  .article-content span{
    margin-bottom: 1em; /* Space between paragraphs */
      text-align: justify; /* Justify text in paragraphs */
      color: #1b1b1b;
      font-family: 'Exo', sans-serif;
  }
  
  .article-content ul li{
    margin-bottom: 1em; /* Space between paragraphs */
      text-align: justify; /* Justify text in paragraphs */
      color: #1b1b1b;
      font-family: 'Exo', sans-serif;
  }

  /* test */
  .background-contest {
    background-image: url('../img/Contest-BG.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.content-contest {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    margin: 0;
    height: 100%; /* Added for scrollable content */
}

/*----------------------------------------*/
/*  8.7 slider css
/*----------------------------------------*/
.tp-slider__area {
  overflow: hidden;
}
.tp-slider__bg {
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 767px) {
  .tp-slider__shap {
    display: none;
  }
}
.tp-slider__shap-right {
  position: absolute;
  top: -103px;
  right: -37px;
}
.tp-slider__height {
  height: 820px;
}
@media (max-width: 767px) {
  .tp-slider__height {
    height: 582px;
  }
}
.tp-slider__bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.tp-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #091e1a;
  background-blend-mode: luminosity;
  z-index: -1;
  transform: scale(1);
  -webkit-transition: all 10s linear 0s;
  -moz-transition: all 10s linear 0s;
  -o-transition: all 10s linear 0s;
  transition: all 10s linear 0s;
}
.tp-slider__bg::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 30, 26, 0.5);
  z-index: 99;
  mix-blend-mode: luminosity;
}
.tp-slider__shap img {
  position: absolute;
  top: -110px;
}
.tp-slider__angle-shape {
  height: 391px;
  width: 280px;
  background: linear-gradient(to bottom, var(--tp-theme-1), #fbd403);
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  left: -100%;
  transition: all 0.6s ease-in-out;
}
.tp-slider__content {
  position: relative;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-slider__content {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-slider__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-slider__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-slider__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider__content {
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .tp-slider__content {
    margin-left: 0px;
  }
}
.tp-slider__content span {
  font-size: 20px;
  color: var(--tp-theme-2);
  padding-left: 26px;
  display: inline-block;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .tp-slider__content span {
    font-size: 17px;
  }
}
.tp-slider__content span::after {
  position: absolute;
  width: 2px;
  height: 24px;
  content: "";
  background: var(--tp-common-white);
  left: 0px;
  top: 3px;
}
.tp-slider__social-horizonter {
  position: absolute;
  top: 45%;
  left: -79px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider__social-horizonter {
    display: none;
  }
}
@media (max-width: 767px) {
  .tp-slider__social-horizonter {
    display: none;
  }
}
.tp-slider__social-horizonter ul {
  display: inline-block;
  transform: rotate(270deg);
  position: relative;
  z-index: 9;
}
.tp-slider__social-horizonter ul li {
  display: inline-block;
  display: inline-block;
  z-index: 999999;
  position: relative;
  margin-right: 30px;
}
.tp-slider__social-horizonter ul li a {
  color: var(--tp-common-white);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.tp-slider__social-horizonter ul li a:hover {
  color: #fbd663;
}
.tp-slider__nav button {
  position: absolute;
  top: 40%;
  right: 13%;
  height: 66px;
  width: 66px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  background: #f9f4e8;
  z-index: 1;
  line-height: 66px;
}
.tp-slider__nav button i {
  font-size: 16px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider__nav button {
    top: 86%;
  }
}
@media (max-width: 767px) {
  .tp-slider__nav button {
    display: none;
  }
}
.tp-slider__nav button.hero-button-prev {
  top: 50%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider__nav button.hero-button-prev {
    top: 86%;
    right: 24%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider__nav button.hero-button-prev {
    top: 86%;
    right: 27%;
  }
}
@media (max-width: 767px) {
  .tp-slider__nav button.hero-button-prev {
    display: none;
  }
}
.tp-slider__nav button:hover {
  background: #fbd45b;
}

.swiper-slide-active .tp-slider__angle-shape {
  left: 0;
}

.swiper-slide.swiper-slide-active .tp-slider__bg {
  visibility: visible;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.tp-slider-2__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  -webkit-transition: all 10s linear 0s;
  -moz-transition: all 10s linear 0s;
  -o-transition: all 10s linear 0s;
  transition: all 10s linear 0s;
}
.tp-slider-2__shap {
  z-index: 1;
  bottom: -301px;
  position: absolute;
  left: 0px;
}
.tp-slider-2__bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.tp-slider-2__shap-2 {
  position: absolute;
  right: 0;
  bottom: -157px;
}
.tp-slider-2__shap-top::before {
  content: "";
  border-radius: 0 0 130px 130px;
  transform: rotate(-30deg);
  background-color: rgb(251, 212, 91);
  position: absolute;
  left: 181px;
  top: -169px;
  width: 279px;
  height: 514px;
  z-index: 1;
}
.tp-slider-2__height {
  height: 820px;
}
@media (max-width: 767px) {
  .tp-slider-2__height {
    height: 524px;
  }
}
.tp-slider-2__content {
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-slider-2__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-slider-2__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-slider-2__content {
    margin-left: 122px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider-2__content {
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .tp-slider-2__content {
    margin-left: 0px;
  }
}
.tp-slider-2__content.tp-slider-title-2 {
  line-height: 1;
}
.tp-slider-2__content span {
  font-size: 20px;
  color: var(--tp-theme-2);
  margin-left: 15px;
}
@media (max-width: 767px) {
  .tp-slider-2__content span {
    font-size: 17px;
  }
}
.tp-slider-2__content span::after {
  position: absolute;
  width: 2px;
  height: 24px;
  content: "";
  background: var(--tp-common-white);
  left: 0;
}
.tp-slider-2__nav {
  position: absolute;
  top: 45%;
  left: 105px;
  z-index: 1;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (min-width: 450px) and (max-width: 575px) {
  .tp-slider-2__nav {
    bottom: 12px;
    top: auto;
    right: 158px;
    left: auto;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 767px) {
  .tp-slider-2__nav {
    bottom: -10px;
    top: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-slider-2__nav {
    bottom: 50px;
    top: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-slider-2__nav {
    bottom: -20px;
    top: auto;
  }
}
@media (max-width: 767px) {
  .tp-slider-2__nav {
    display: none;
  }
}
.tp-slider-2__nav .hero-button-next-2 {
  width: 60px;
  height: 60px;
  border: 1px solid #d2d3d0;
  text-align: center;
  line-height: 58px;
  border-radius: 50%;
  color: #d2d3d0;
  position: relative;
  z-index: 99999;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (min-width: 450px) and (max-width: 575px) {
  .tp-slider-2__nav .hero-button-next-2 {
    right: 91px;
    top: 81px;
  }
}
.tp-slider-2__nav .hero-button-next-2:hover {
  border-color: #fbd45b;
  color: var(--tp-heading-primary);
  background: #fbd45b;
}
.tp-slider-2__nav .hero-button-prev-2 {
  width: 60px;
  height: 60px;
  border: 1px solid #d2d3d0;
  text-align: center;
  line-height: 58px;
  border-radius: 50%;
  color: #d2d3d0;
  margin-top: 20px;
  position: relative;
  z-index: 999;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.tp-slider-2__nav .hero-button-prev-2 i {
  font-size: 14px;
}
.tp-slider-2__nav .hero-button-prev-2:hover {
  border-color: #fbd45b;
  color: var(--tp-heading-primary);
  background: #fbd45b;
}

.swiper-slide.swiper-slide-active .tp-slider-2__bg {
  visibility: visible;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.tp-slider-3__content p {
  color: var(--tp-common-white);
  font-size: 20px;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .tp-slider-3__content p {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .tp-slider-3__nav {
    position: absolute;
    bottom: 50px;
    z-index: 9;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.tp-slider-3__shap-left {
  position: absolute;
  content: "";
  height: 502px;
  width: 142px;
  background: #2226ff;
  bottom: -99px;
  left: -21px;
  transform: rotate(-38deg);
  left: -100%;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 767px) {
  .tp-slider-3__shap-left {
    display: none;
  }
}
.tp-slider-3__height {
  height: 820px;
}
@media (max-width: 767px) {
  .tp-slider-3__height {
    height: 582px;
  }
}
.tp-slider-3__shap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.tp-slider-3__bg-3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1);
  -webkit-transition: all 10s linear 0s;
  -moz-transition: all 10s linear 0s;
  -o-transition: all 10s linear 0s;
  transition: all 10s linear 0s;
}

.slider-arrow-style button {
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0);
  height: 60px;
  width: 60px;
  border: 2px solid #94a19e;
  border-radius: 50%;
  color: #94a19e;
  left: 60px;
  z-index: 9;
  transform: translateY(-50%);
  transition: 0.4s;
  font-size: 20px;
}
@media (max-width: 767px) {
  .slider-arrow-style button {
    background: rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    transition: 0.4s;
    font-size: 20px;
    position: static;
    margin: 0 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 767px) {
  .slider-arrow-style button {
    top: 83%;
  }
}

.slider-arrow-style button.tpslick-prev {
  left: auto;
  right: 60px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 767px) {
  .slider-arrow-style button.tpslick-prev {
    left: 139px;
  }
}

.slider-arrow-style button:hover {
  background-color: #fbd45b;
  color: var(--tp-common-white);
  border-color: #fbd45b;
}

.swiper-slide.swiper-slide-active .tp-slider-3__bg {
  visibility: visible;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.tp-slider-title {
  font-size: 100px;
  color: var(--tp-common-white);
  line-height: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-slider-title {
    font-size: 89px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-slider-title {
    font-size: 80px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-slider-title {
    font-size: 61px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 575px) {
  .tp-slider-title {
    font-size: 75px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .tp-slider-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.swiper-slide-active .tp-slider-sub-title, .swiper-slide-active .tp-slider-title, .swiper-slide-active .tp-slide-btn-box, .swiper-slide-active .tp-slider-pragrap, .swiper-slide-active .shap-2, .swiper-slide-active .shap-1 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swiper-slide-active .tp-slider-sub-title {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.swiper-slide-active .tp-slider-title {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.swiper-slide-active .tp-slider-pragrap {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.swiper-slide-active .tp-slide-btn-box {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.swiper-slide-active .shap-1 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.swiper-slide-active .shap-2 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.swiper-slide-active .tp-slider-2__shap-top {
  -webkit-animation-name: fadeInTopLeft;
  animation-name: fadeInTopLeft;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swiper-slide-active .tp-slider-2__shap-top {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.swiper-button-next {
  color: red;
  font-size: 30px;
}

.swiper-button-prev.swiper-button-disabled {
  font-size: 30px;
  color: red;
}

.tp-slider-3__overlay {
  position: relative;
  background-color: #13302b;
  background-blend-mode: luminosity;
}
.tp-slider-3__overlay::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #091e1a;
  mix-blend-mode: luminosity;
  opacity: 0.75;
}

.float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.swiper-slide-active .tp-slider-3__shap-left {
  left: 0;
}

.p-relative {
  position: relative;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.mt-20{
  margin-top: 25vh;
 
}
.banner-btn-right{
  position: relative;
  margin-left: 40vh;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .mt-20{
    margin-top: 60vh;
  }

  .container-contest{
    display: flex;
  }
  
  .right-content{
    margin-right: 0vh;
    margin-left: 0vh;
  }
  
}

.container-contest{
  display: flex;
}

.content-right{
  align-items: flex-end;
}

/* test */
.contest-content {
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.fs-100{
  font-size: small;
}
